<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.guns.modular.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.guns.modular.system.entity.SysUser">
        <id column="USER_ID" property="userId" />
        <result column="AVATAR" property="avatar" />
        <result column="ACCOUNT" property="account" />
        <result column="PASSWORD" property="password" />
        <result column="SALT" property="salt" />
        <result column="NAME" property="name" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="SEX" property="sex" />
        <result column="EMAIL" property="email" />
        <result column="PHONE" property="phone" />
        <result column="ROLE_ID" property="roleId" />
        <result column="DEPT_ID" property="deptId" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="VERSION" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        base.USER_ID AS userId, base.AVATAR AS avatar, base.ACCOUNT AS account, base.PASSWORD AS password, base.SALT AS salt, base.NAME AS name, base.BIRTHDAY AS birthday, base.SEX AS sex, base.EMAIL AS email, base.PHONE AS phone, base.ROLE_ID AS roleId, base.DEPT_ID AS deptId, base.STATUS AS status, base.CREATE_TIME AS createTime, base.CREATE_USER AS createUser, base.UPDATE_TIME AS updateTime, base.UPDATE_USER AS updateUser, base.VERSION AS version
    </sql>

</mapper>
